const {{classname}} = require('../main/{{classname}}');
const Configuration = require('../main/Configuration');
{{#requires}}
const {{modelName}} = require('../main/model/{{modelName}}');
{{/requires}}

const config = Configuration.builder()
    .baseUrl('https://app2.virtualbrix.net')
    .build();
const api = new {{classname}}(config);

{{#provide-value-function-defs}}
{{#provide-value-function-def}}
{{functionName}} = {{{functionBody}}};

{{/provide-value-function-def}}
{{/provide-value-function-defs}}

{{#operations}}
{{#operation}}

test('#{{vendorExtensions.x-operation-name}}()', {{{vendorExtensions.x-test-lambda}}});

{{/operation}}
{{/operations}}
