const req = require('request');
const fs = require('fs');
const Configuration = require('./Configuration');
{{#operations}}
{{#operation}}
const {{vendorExtensions.x-request-model-name}} = require('./model/{{vendorExtensions.x-request-model-name}}');
const {{vendorExtensions.x-response-model-name}} = require('./model/{{vendorExtensions.x-response-model-name}}');
{{/operation}}
{{/operations}}

class {{classname}} {

    constructor(config) {
        this._config = config;
    }

{{#operations}}
{{#operation}}
    /**
      * @param request #{{vendorExtensions.x-request-model-name}}
      * @param callback (#{{vendorExtensions.x-response-model-name}}) => {}
      */
    {{vendorExtensions.x-operation-name}}(request, callback) {
        const uri = this._config.baseUrl + '{{vendorExtensions.x-prefix-path}}{{path}}';
        const formParams = {
{{#vendorExtensions.x-request-model}}
{{#vendorExtensions.x-form-params}}
            "{{{name}}}": {{{value}}},
{{/vendorExtensions.x-form-params}}
{{/vendorExtensions.x-request-model}}
        };
        const options = {
            "method": "POST",
            "{{vendorExtensions.x-form-parameter-name}}": formParams,
            "strictSSL": false,
        };
        req(uri, options, (err, response, body) => {
            if (err) {
                throw Error("Error occurred when calls to '{{path}}': " + err);
            }
            var json = JSON.parse(body);
{{#vendorExtensions.x-response-model}}
            var response = {{classname}}.builder()
{{#vars}}
                .{{vendorExtensions.x-name-in-camel-case}}(json.{{name}})
{{/vars}}
                .build();
{{/vendorExtensions.x-response-model}}
            callback(response);
        });
    }

{{/operation}}
{{/operations}}
}

module.exports = {{classname}};
