{{#models}}
{{#model}}
class {{classname}} {
    constructor(
{{#vars}}
        {{vendorExtensions.x-name-in-camel-case}}{{#hasMore}},{{/hasMore}}
{{/vars}}
    ) {
{{#vars}}
        this.{{vendorExtensions.x-name-in-camel-case}} = {{vendorExtensions.x-name-in-camel-case}};
{{/vars}}
    }

   static builder() {
      class Builder {
{{#vars}}
         {{vendorExtensions.x-name-in-camel-case}}({{vendorExtensions.x-name-in-camel-case}}) {
            this._{{vendorExtensions.x-name-in-camel-case}} = {{vendorExtensions.x-name-in-camel-case}};
            return this;
         }
{{/vars}}
         build() {
            return new {{classname}}(
{{#vars}}
                this._{{vendorExtensions.x-name-in-camel-case}}{{#hasMore}},{{/hasMore}}
{{/vars}}
            );
         }
      }
      return new Builder();
   }
}

module.exports = {{classname}};

{{/model}}
{{/models}}
