const CallRecorderApi = require('./src/main/CallRecorderApi');
const Configuration = require('./src/main/Configuration');
{{#models}}
{{#model}}
const {{classname}} = require('./src/main/model/{{classname}}');
{{/model}}
{{/models}}

module.exports = {
    CallRecorderApi,
    Configuration,
{{#models}}
{{#model}}
    {{classname}},
{{/model}}
{{/models}}
};
